label {

	width: 120px;
	margin-bottom: 6px;
	display: inline-block;

}

.submit {

	margin-left: 120px;

}

.inline {

	margin: 0;

}

h2 {

	margin-left: 30px;

}

a {

	color: #222;

}

a:hover {

	text-decoration: none;

}

body {

	color: #222;
	margin: 0;
	font-family: sans-serif;

}

form {

	background: #eee;
	width: 300px;
	padding: 20px;
	margin-top: 30px;

}

h2 {

	margin-left: 0;

}

h1, #module-utilisateur, section, #commentaires {

	padding: 30px;
	margin: 0;
	border-bottom: 2px solid #333;

}

h1 {

	background: #bbb;
}

#module-utilisateur {

	background: #ddd;

}

section, #commentaires {

	background: #bbb;

}

.case {

	background: #999;
	margin: 0;
	margin-bottom: 20px;
	padding: 10px;

}

.titre {

	background: #ddd;
	font-weight: bold;
	padding: 10px;
	margin: 0;
	margin-bottom: 10px;

}

.commentaire {

	width: 600px;
	border-bottom: 1px solid #333;
	margin-bottom: 45px;

}

.case .contenu, .case .commentaires {

	display: inline-block;
	vertical-align: top;

}

.case .contenu {

	width: 600px;

}

.case .commentaires {

	margin-left: 40px;

}

.case .commentaires .commentaire {

	width: 300px;

}

.systeme {

	color: #b00;

}